%nav.navbar.navbar-toggleable-md.navbar-inverse.bg-faded.mb-5

  .container

    %h1.navbar-brand
      %a{href: root_path} Buscador de jogadores de Futebol

      = yield(:navbar)

.navbar-bottom-line
